{% extends "base.html" %}
{% block body %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Place</th>
      <th scope="col">Favourite</th>
    </tr>
  </thead>
  <tbody>
{% for user in users %}
    <tr>
      <th scope="row">1</th>
      <td>{{user.name}}</td>
      <td>{{user.place}}</td>
      <td><a href="https://www.youtube.com/results?search_query={{ user.search }}">{{ user.search }}</a></td>
    </tr>
{% endfor %}
    
  </tbody>
</table>
  {% endblock %}
