{% extends "base.html" %}
{% block body %}
<div class="container-fluid">
  <br>
<table class="sortable table table-bordered table-hover thead-dark">
  <thead class="thead-dark"  >
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Country</th> 
      <th scope="col">TotalConfirmed</th>
      <th scope="col">TotalDeaths</th>
      <th scope="col">TotalRecovered</th>
    </tr>
  </thead>
  <tbody id="TableSearch">
{% for Country in Countries %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td><a href="/trend/{{Country.Country}}">{{Country.Country}}</a></td>
      <td>{{Country.TotalConfirmed}}</td>
      <td>{{Country.TotalDeaths}}</td>
      <td>{{Country.TotalRecovered}}</td>
    </tr>
{% endfor %}
   
  </tbody>
</table>
</div>

  {% endblock %}
